@{
  Layout = "_Layout";
}


<h1>Clip Sports</h1>
<hr />
<h2>Edit Client: @Model.GetDescription()</h2>
<form action="/clients/@Model.GetId()/update" method="post">
  <div class="form-group">
    <label for="newname">Description</label>
    <input type="text" name="newname" value="@Model.GetDescription()" class="form-control">
  </div>
  <div class="form-group">
    <label for="newdate">Due Date</label>
    <input type="date" name="newdate" class="form-control" value="@Model.GetRawDate()">
  </div>
  <button type="submit" class="btn btn-primary">Edit</button>
</form>
<h4><a href="/">Return Home</a><h4>
